<div class="endpoints">

    <table class="table table-hover table-bordered fileTable">

        <thead>
            <tr class="tableHeader">
                <th>FILE NAME</th>
                <th>FILE ID</th>
                <th>FILE TYPE</th>
                <th>ACTION</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="file in files">
                <td> {{ file.name }} </td>
                <td> {{ file.id }} </td>
                <td> {{ file.filetype }}</td>
                <td>
                    <button ng-click='viewFile(file.id, file.filetype)'>VIEW</button>
                    <button ng-click='removeFile(file.id)'>DELETE</button>
                </td>
            </tr>
        </tbody>

    </table>



    <div class="UploadBox" style="margin-top: 50px;">
        <form id="myForm" method="POST" ng-submit="uploadFile()" accept-charset="UTF-8" enctype="multipart/form-data">
            <!-- <label for="file" id="" class="">File</label>
            <input ng-model="file" name="file" type="file" id="file"> -->

            <label for="file" id="" class="" ng-model="file">File</label>
            <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)"/>
            <br/>
            <label for="timeout" id="" class="">Timeout</label>
            <select ng-model="timeout" name="minutes">
                <option value="">None</option>
                <option value="1">1 Minute</option>
                <option value="5">5 Minutes</option>
                <option value="10">10 Minutes</option>
                <option value="15">15 Minutes</option>
                <option value="30">30 Minutes</option>
                <option value="60">1 Hour</option>
                <option value="120">2 Hours</option>
                <option value="180">3 Hours</option>
                <option value="360">6 Hours</option>
                <option value="720">12 Hours</option>
                <option value="1440">24 Hours</option>
            </select>
            <br />
            <!-- submit button -->
            <button type="button" ng-click='uploadFile()'>Upload</button>

            <!-- reset button -->
            <input type="reset" value="Reset">

            <!-- progress bar -->
            <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
            </div>
            
        </form>
    </div>
</div>




<!-- GITHUB FORK RIBBON -->

<a href="https://github.com/AlexAbraham1/ShareClock" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>