<div class="file">
	
	<div class="videogular-container">
		<videogular vg-player-ready="onPlayerReady" vg-theme="config.theme.url">
			<vg-video vg-src="config.sources"></vg-video>

			<vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
				<vg-play-pause-button></vg-play-pause-button>
				<vg-timedisplay>{{ API.currentTime | date:'mm:ss' }}</vg-timedisplay>
				<vg-scrubBar>
					<vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
				</vg-scrubBar>
				<vg-timedisplay>{{ API.timeLeft | date:'mm:ss' }}</vg-timedisplay>
				<vg-volume>
					<vg-mutebutton></vg-mutebutton>
					<vg-volumebar></vg-volumebar>
				</vg-volume>
				<vg-fullscreenButton></vg-fullscreenButton>
			</vg-controls>

			<vg-poster-image vg-url='config.plugins.poster.url'></vg-poster-image>
			<vg-buffering></vg-buffering>
			<vg-overlay-play vg-play-icon="config.theme.playIcon"></vg-overlay-play>
		</videogular>
	</div>

	<div class="buttons">
		<a href="{{filePath}}" class="downloadButton" download>DOWNLOAD</a>
		
		<span style="margin-left: 30px;"><a ng-click='shareFile()' class="shareButton" download>SHARE</a></span>

		<span style="margin-left: 30px;"><a ng-click='removeFileModal(file)' class="deleteButton">DELETE</a></span>
	
	</div>
</div>



<!-- GITHUB FORK RIBBON -->

<a href="https://github.com/AlexAbraham1/ShareClock" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>